@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html{
    background-color:rgb(148, 43, 43);
}

body {
    
    font-style: normal;
    display: flex;
    justify-content: center;
    align-items: center;    
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    background: white;
    box-shadow: inset 0 0 150px rgba(138, 2, 2, 0.176),0 4px 8px rgba(0,0,0,0.1);
    padding: 2rem;
    border-radius: 10px;
    max-width: 1000px;
}

.container:hover{
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    transform: translateY(-5px);
    transform:scale(1.01);
    transition: all 0.3s ease;
}

#quote {
    font-family: "Indie Flower", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
    margin-bottom: 0.5rem;
}
#author{
    font-family: "Poppins", sans-serif;
    font-style:italic;
    font-weight: 700;
    font-size:1.1rem;
    margin-bottom:1.5rem;
    color:#410303

}


button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    background-color: #ff6b6b;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #ff4b4b;
}

p{
    margin:0;
    margin-top:0;
}


